button.btn-default {
  padding:6px 12px;
  font-size:16px;
  line-height:24px;
  border-radius:4px;
}
.tcu-info {
  float:left;
  width:200px;
}
.play-button {
  float:left;
  margin-right:-100px;
}
.speaker-name {
  float:right;
  width:100px;
}
.speaker-tiers {
  margin-left:200px;
}
.scroller ul {
  list-style:none;
}
.scroller ul {
  list-style:none;
}
.transcript-container{
  height:500px;
  overflow-x:auto;
  transition:all 100ms ease 0s;
}
.dropdown-choices ul {
  list-style: none;
  line-height: 2.5em;
  margin-top: 0.75em;
  padding-right: 1.5em;
}
.dropdown-choices {
  position: absolute;
  top: 2.4em;
  display:none;
  z-index: 100;
  border: 1px solid #bbb;
}